
img{
float: right;
margin-right:5%;
position: relative; 

}

h1{
    font-style: 900;
    font-size: 45px;
}

.hero{
    margin-top:10%;
    position: absolute; 

}

p{
    line-height: 1.6;
    margin-top:1%;
    margin-bottom:1%;

    color: grey;
    width:45%;

}
span{
    color: #719D61;
}