<div class="container">
<app-navbar></app-navbar>
</div>
<div class="container">
<div class="hero">
  <h1>Welcome to <span>Gardener</span><br>
     Landscaping Company.</h1>
    <p>Lorem  Ipsum is simply dummy text of the printing and typesetting industry thes
      Lorem Ipsum has been the industry's standard dummy text ever since the info 1500s, when an unknown printer took a galley to make a type.
    </p>
    <div class="btn">
      Contact Us
    </div>
</div>
</div>



<img src="/assets/GardenerPic.png">

