/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
* {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    
}

body{
    background-color: #F7F6F4;
    height: 100%;
}
html{
    height: 100%;
}

ul{
    list-style-type:none;
}

.btn{
    border: 2px solid transparent;
    height: 20px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding:10px;
    font-style: 900;
    color:white;
    border-radius: 3px;
    background-color: #719D61;
}

.container{
    max-width: 1080px;
    width:100%;
    margin: auto;
    padding: 0 20px;
}