:host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2%;
}

ul{
    display:flex;
    align-items: center;
}

li:not(:last-child) {
    margin-right: 35px;
}