    <img src="/assets/logo.png">
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Shop</li>
        <li>Contact</li>
        <li>Projects</li>
        <li><div class="btn">Get A Quote</div></li>
    </ul>
